

.panel-orange {
  border-color: #FAC147;
  box-shadow: 1px 2px 3px #C9C6C6;
}
.panel-orange > .panel-heading {
  color: #333;
  background-color: #FDBD0E;
  border-color: #FAC147;
  font-weight: 700;
  font-size: 18px;
}
.panel-orange > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #FAC147;
}
.panel-orange > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #FAC147;
}


#content-wrap {
	margin-bottom: 20px;
}

.contact-image {
	padding: 5px;
	border: 1px solid #CCC;
	box-shadow: 0 0 5px #D5D5D5;
}

.contact-title-1 {
	font-size: 22px;
}