


#header-2 {
  min-height: 236px;
  background-color: #CCC;
}

.gift-action-btn {
  margin-top: 170px;
}

.gift-action-btn .buy-giftvc-btn {
    margin-right: 15px;
    color: #fff;
}

.gift-action-btn .readmore-giftvc-btn, .gift-action-btn .buy-giftvc-btn {
  font-weight: 700;
  box-shadow: 2px 2px 4px #949494;
}

#gift-voucher-1 {
  padding-left: 120px;
  padding-right: 120px;
  margin-bottom: 20px;
}

#gift-voucher-1 .attr-voucher {
  padding-top: 20px;
}

#gift-voucher-1 .attr-voucher .attr-voucher-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

#gift-voucher-1 .attr-voucher .description {
  font-weight: bold;
  font-size: 16px;
}

#gift-voucher-1 .choice-voucher .choice-voucher-wrap {
  background-color: #FDBD0E; 
  box-shadow: 0 0 10px #CCC; 
  border-radius: 8px; 
  padding-bottom: 10px;
}

#gift-voucher-1 .choice-voucher .choice-voucher-wrap ul {
  margin-left: 10px;
  margin-right: 10px;
}

#gift-voucher-1 .choice-voucher .choice-voucher-wrap ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}

#gift-voucher-1 .choice-voucher .choice-voucher-wrap ul li .voucher-card-btn {
  font-weight: 700;
}

#gift-voucher-1 .choice-voucher .choice-voucher-wrap ul li .voucher-card-btn:hover {
  background-color: #fff;
  color: #EBB11C;
}


#gift-voucher-2 {
  background-color: #E4E4E4;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#gift-voucher-2 .title, #gift-voucher-3 .title {
  font-size: 21px;
  font-weight: 700;
  color: #7A7A7A;
  margin-top: 20px;
  margin-bottom: 20px;
}

#gift-voucher-2 ul li {
  padding-right: 0px;
  padding-left: 0px;
}

#gift-voucher-2 ul li img {
  max-width: 200px;
  max-height: 200px;
}

#gift-voucher-3 .list-aq {
  font-size: 16px;
  padding-bottom: 20px;
}