#settings-tabs .tab-content-fix {
	position: static;
}

#client-notifications .email-settings, #client-notifications .separating-line, #client-notifications .text-message-settings, #fulfillment .email-settings, #fulfillment .separating-line, #fulfillment .text-message-settings {
	margin-left: 17px !important;
	margin-top: 17px;
}

img.logo-image, div.picture-logo {
	width: 165px;
	height: 92px;
}

/*le viet*/
.tooltip{
	font-size: 11.5px;
	z-index: 9999;
}