.container {

}

.col-padding-5px {
	padding-left: 5px;
	padding-right: 5px;
}

.remove-padding {
	padding: 0;
}

.remove-padding-left {
	padding-left: 0px;
}

.remove-padding-right {
	padding-right: 0px;
}

.separate {
	width: 80%;
	margin: 15px auto;
	border-bottom: 1px solid #CCC;
	clear: both;
}

.text-orange {
	color: #FFCC00;
}

.text-white {
	color: #FAFAFA;
}

.text-brown {
	color: #7A7A7A;
}

.text-brown-black {
	color: #635D5D;
}

.divider {
	border-bottom: 1px solid #E7E7E7;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#home-page {
	/*padding: 0px;*/
}

#top-header {
	margin-top: 30px;
	margin-bottom: 10px;
}

#top-header-left {
	padding-left: 0px;
	padding-right: 0px;
}

#top-header-center .logo {
	margin: 0 auto;
	max-width: 430px;
}

.logo-text {
	font-size: 40px;
	color: #A1A1A1;
}

#top-header-right {
	padding-left: 0px;
	padding-right: 0px;
}

#top-header-right .login-btn, #top-header-right .login-face-btn {
	margin-bottom: 10px;
}

#top-header-right .search-global {

}

#navigation {
	margin-bottom: 20px;
}

#navigation .navbar-nav > li {
	padding-right: 40px;
	/*padding-left: 20px;*/
}

#navigation .navbar-nav > li div.dropdown-menu {
	padding: 20px;
	width: 500px;
	top: 110%;
}

#navigation .navbar-nav > li div.dropdown-menu .caret {
	position: absolute;
	top: -6px;
	left: 30px;
	color: #FDBD0E;
}

#navigation .navbar-nav > li div.dropdown-menu-background {
	background: #fff url('http://media6.tiin.vn/media01/4f7a58b257985/2014/03/30/339045df-ac6f-4368-9c6c-90da8b049d1d.jpg') right bottom no-repeat;
}

#navigation .navbar-nav > li div.dropdown-menu ul {
	padding-left: 10px;
	padding-right: 10px;
}

#navigation .navbar-nav > li div.dropdown-menu ul a {
	padding-left: 15px;
	padding-right: 15px;
}

#navigation .navbar-nav > li div.dropdown-menu ul li.group-name span {
	color: #FFCC00;
	font-weight: bold;
}

#navigation .navbar-nav > li.first {
	/*margin-left: 0px;*/
}

#navigation .navbar-nav > li a {
	/*padding-right: 5px;
	 padding-left: 15px;*/
}

#navigation .navbar-nav > li a:hover {
	background-color: #FDBD0E;
	color: #ffffff;
	text-decoration: none;
}

#navigation .navbar-nav > li.languages {

}

#navigation .navbar-nav > li.active a {
	background-color: #FDBD0E;
	color: #ffffff;
	font-weight: bold;
}

#header-2 {
	/*min-height: 236px;
	 border: 1px solid #CCC;
	 margin-bottom: 20px;*/
}

#slide {
	background: url('/Project_Wahanda_Alternative/public/assets/img/Trang-chu-slide.png') no-repeat center;
	min-height: inherit;
}

#search {
	background-color: #FDBD0E;
	padding: 10px 15px;
	margin-bottom: 20px;
	border-radius: 8px;
}

#search .item {
	margin-bottom: 10px;
}

#service-list .item {
	background-color: #F2F2F2;
	border: 2px solid #CCC;
	padding: 12px;
	margin-bottom: 10px;
}

#service-list .item:hover, #service-new .item:hover {
	cursor: pointer;
	background-color: #fcfcfc;
	box-shadow: 0px 0px 10px #888888;
}

#service-list .title, #service-new .title, #location-new .title {
	color: #FFCC00;
	margin-bottom: 10px;
}

#service-list .rating {
	color: #FFCC00;
}

#service-list .name {
	font-size: 16px;
	font-weight: bold;
}

#service-list .image {
	margin-bottom: 10px;
}

#service-list .image img {
	margin: 0 auto;
}

#service-list .svl-01 {
	margin-bottom: 10px;
}

#service-list .sale-percent .fa-arrow-down {
	color: #FFCC00;
}

#service-list .service-similar {
	font-style: italic;
	padding-top: 7px;
	font-size: 11px;
	color: #CCC;
}

#service-list .service-similar:hover {
	text-decoration: none;
	color: red;
}

#service-new .service-new-item {
	padding-left: 5px;
	padding-right: 5px;
}

#service-new .item {
	background-color: #F2F2F2;
	border: 2px solid #CCC;
	padding: 12px;
	margin-bottom: 10px;
}

#service-new .name {
	font-size: 15px;
	font-weight: bold;
	padding-top: 10px;
}

#service-new .service-similar {
	font-style: italic;
	padding-top: 7px;
	font-size: 10px;
	color: #CCC;
}

#service-new .image {
	margin-bottom: 10px;
}

#service-new .image img {
	margin: 0 auto;
}

#service-new .item .rating, #service-new .item .price, #service-new .item .sale-percent {
	padding-left: 2px !important;
	padding-right: 2px !important;
}

#service-new .item .rating {
	font-size: 13px;
	color: #FFCC00;
}

#service-new .item .count-rating {
	font-size: 11px;
}

#service-new .item .price {
	text-align: center;
}

#service-new .item .sale-percent {
	font-size: 12px !important;
	text-align: right;
}

#service-new .service-similar:hover {
	text-decoration: none;
	color: red;
}

#location-new {
	margin-bottom: 20px;
}

#location-new .image {
	width: 100%;
	max-height: 700px;
	min-height: 250px;
}

#location-new .info .info-content {
	background-color: rgba(192, 192, 192, 0.8);
	padding: 10px;
}

#location-new .info {
	position: absolute;
	bottom: 0px;
	padding: 7px;
	width: 100%;
}
#location-new .info .name {
	font-weight: bold;
	font-size: 20px;
	color: #ffffff;
}

#location-new .info .description {
	font-size: 13px;
}

#location-new .info a.readmore {
	color: #ffffff;
}

#footer {

}

#footer-info {
	background: url('/Project_Wahanda_Alternative/public/assets/img/Trang-chu-footer.png') top left;
	padding-top: 10px;
	padding-bottom: 10px;
}

#footer-last {
	background-color: #FDBD0E;
	box-shadow: 0px -1px 15px #9F9F9F;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*EDIT BOOTSTRAP*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #FDBD0E;
	color: #ffffff;
	font-weight: bold;
}

.btn {
	border-radius: 0;
}

.btn-border-radius-none {
	border-radius: 0px;
}

.form-control:focus {
	box-shadow: none;
}

.btn-orange {
	color: #1A1A1A;
	background-color: #FDBD0E;
	/*border-color: #FF9603;*/
}
.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active, .open .dropdown-toggle.btn-orange {
	color: #1A1A1A;
	background-color: #FFA322;
	/*border-color: #FFA322;*/
	/*border-bottom: 1px solid #e1bd42;*/
}
.btn-orange:active, .btn-orange.active, .open .dropdown-toggle.btn-orange {
	background-image: none;
}
.btn-orange.disabled, .btn-orange[disabled], fieldset[disabled] .btn-orange, .btn-orange.disabled:hover, .btn-orange[disabled]:hover, fieldset[disabled] .btn-orange:hover, .btn-orange.disabled:focus, .btn-orange[disabled]:focus, fieldset[disabled] .btn-orange:focus, .btn-orange.disabled:active, .btn-orange[disabled]:active, fieldset[disabled] .btn-orange:active, .btn-orange.disabled.active, .btn-orange[disabled].active, fieldset[disabled] .btn-orange.active {
	background-color: #FFDB4A;
	border-color: #FFCC00;
}
.btn-orange.badge {
	color: #FFCC00;
	background-color: #1A1A1A;
}

.btn-orange-black {
	color: #4a4a49;
	background-color: #FDBD0E;
	/*border-color: #FF9603;*/
	border-bottom: 1px solid #e1bd42;
}
.btn-orange-black:hover, .btn-orange-black:focus, .btn-orange-black:active, .btn-orange-black.active, .open .dropdown-toggle.btn-orange-black {
	color: #fff;
	background-color: #373538;
	border-bottom: 1px solid #e1bd42;
}
.btn-orange-black:active, .btn-orange-black.active, .open .dropdown-toggle.btn-orange-black {
	background-image: none;
}
.btn-orange-black.disabled, .btn-orange-black[disabled], fieldset[disabled] .btn-orange-black, .btn-orange-black.disabled:hover, .btn-orange-black[disabled]:hover, fieldset[disabled] .btn-orange-black:hover, .btn-orange-black.disabled:focus, .btn-orange-black[disabled]:focus, fieldset[disabled] .btn-orange-black:focus, .btn-orange-black.disabled:active, .btn-orange-black[disabled]:active, fieldset[disabled] .btn-orange-black:active, .btn-orange-black.disabled.active, .btn-orange-black[disabled].active, fieldset[disabled] .btn-orange-black.active {
	background-color: #FFDB4A;
	border-color: #FFCC00;
}
.btn-orange-black.badge {
	color: #FFCC00;
	background-color: #1A1A1A;
}
.btn-black {
	color: #000000;
	background-color: #FDBD0E;
	border-color: #FDBD0E;
}
.btn-black:hover, .btn-black:focus, .btn-black:active {
	color: #FFFFFF;
	background-color: #000000;
	border-color: #000000;
}
.btn-brown {
	color: #1A1A1A;
	background-color: #CCCCCC;
	border-color: #CCCCCC;
}
.btn-brown:hover, .btn-brown:focus, .btn-brown:active, .btn-brown.active, .open .dropdown-toggle.btn-brown {
	color: #1A1A1A;
	background-color: #FDBD0E;
	border-color: #FDBD0E;
}
.btn-brown:active, .btn-brown.active, .open .dropdown-toggle.btn-brown {
	background-image: none;
}
.btn-brown.disabled, .btn-brown[disabled], fieldset[disabled] .btn-brown, .btn-brown.disabled:hover, .btn-brown[disabled]:hover, fieldset[disabled] .btn-brown:hover, .btn-brown.disabled:focus, .btn-brown[disabled]:focus, fieldset[disabled] .btn-brown:focus, .btn-brown.disabled:active, .btn-brown[disabled]:active, fieldset[disabled] .btn-brown:active, .btn-brown.disabled.active, .btn-brown[disabled].active, fieldset[disabled] .btn-brown.active {
	background-color: #CCCCCC;
	border-color: #CCCCCC;
}
.btn-brown.badge {
	color: #FDBD0E;
	background-color: #1A1A1A;
}

.pagination-sm > li > a, .pagination-sm > li > span {
	margin-right: 13px;
	border-radius: 0;
}

.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span, .pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
	border-radius: 0;
}

.pagination {
	border-radius: 0;
}
.well {
	border-radius: 0px;
}

input, select, textarea {
	border-radius: 0px !important;
}
#service_nav .navbar-nav > li a:hover {
	background-color: #FDBD0E;
	color: #FFFFFF;
}
#service_nav {
	border-radius: 0px;
}
.progress_bar {
	display: block;
	height: 0.625em;
	background-color: #FDBD0E;
	margin-top: 6px;
}
#date_booking span {
	margin-right: 8px;
	padding: 5px;
}
#days_booking span {
	margin-right: 9.5px;
	padding: 5px;
}
#days_booking span:hover, #days_booking span:focus {
	cursor: pointer;
	background: none repeat scroll 0% 0% #CCCCCA;
	border-radius: 50%;
	color: #FFFFFF;
	border-width: 5px;
	padding: 5px;
}
#days_booking span.active {
	cursor: pointer;
	background: none repeat scroll 0% 0% #000000;
	border-radius: 50%;
	color: #FFFFFF;
	border-width: 5px;
	padding: 5px;
}
.span-separate {
	position: absolute;
	background: #ADADAD;
	height: 88%;
	width: 1px;
	top: 3px;
	box-shadow: .5px 0 .1px #FFFFFF;
}
.service_properties {
	font-size: 17px;
}
p.description, p.name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
