
#tabs {
	/*border: 1px solid #CCC;*/
	font-weight: 700;
	font-size: 16px;
	color: #635D5D;
	text-align: center;
	background-color: #F2F2F2;
	margin-bottom: 20px;
}

#tabs .tab-intro, #tabs .tab-service, #tabs .tab-rating {
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid #CCC;
}

#tabs .tab-intro:hover, #tabs .tab-service:hover, #tabs .tab-rating:hover {
	cursor: pointer;
	color: #F2F2F2;
	background-color: #FDBD0E;
}

#tab-introduce {
	margin-bottom: 20px;
}

#tab-services {
	margin-bottom: 20px;
}

#tab-services .one-service {
	border: 1px solid #CCC;
	padding: 10px;
}

#tab-services .one-service .item .item-info-1 {
	color: #FC0;
	font-weight: 700;
}

#tab-services .one-service .item .item-info-1, #tab-services .one-service .item .item-info-2, #tab-services .one-service .item .item-info-3 {
	padding-top: 5px;
}

#tab-services .one-service .title {
	font-weight: 700;
}

#tab-banner {
	margin-bottom: 10px;
}

#tab-ratings {
	margin-bottom: 10px;
}

#tab-ratings .rating-point, #tab-ratings .rating-service {
	background-color: #F0F0F0;
	margin-bottom: 10px;
}

#tab-ratings .rating .fa-star {
	padding-right: 8px;
}

#tab-ratings .rating{
	font-size: 15px;
	color: #FFCC00;
}

#tab-ratings .rating-service {
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 18px;
	text-align: center;
}

#tab-ratings .rating-info {
	border: 1px solid #CCC;
	padding-top: 5px;
	padding-bottom: 5px;
}

#tab-ratings .rating-info .rating {
	font-size: 12px;
}

#tab-ratings .tab-ratings-1, #tab-ratings .tab-ratings-2 {
	margin-bottom: 10px;
}

#tab-ratings .rating-point .rating-point-2 {
	padding-top: 10px;
}

#tab-ratings .rating-point .rating-point-1 {
	font-size: 53px;
}

#tab-ratings .rating-comment .avatar img {
	width: 60px;
	max-height: 60px;
}

#side-bar {
	border: 1px solid #CCC;
	padding-left: 10px;
	padding-right: 10px;
}

#side-bar .map .zoom-tool {
	position: absolute;
	top: 10px;
	left: 10px;
}
